<!--
@media screen and (min-width: 0px) {
  div#mydiv{
	width:500px;
	margin:0px auto;
	height:100px; 
	background: #D5E600;
	font-size:27px;
  }
}
@media screen and (min-width: 1000px) {
  div#mydiv{
	width:900px;
	margin:0px auto;
	height:100px; 
	background: #D5E600;
	font-size:27px;
  }
}
#apDiv1 {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:214px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:5%;
	top:6px;
	width:153px;
	height:132px;
	z-index:2;
}
#apDiv3 {
	position:absolute;
	left:0px;
	top:200px;
	width:100%;
	height:38px;
	z-index:3;
}
#apDiv4 {
	position:absolute;
	left:70%;
	top:0%;
	width:23%;
	height:196px;
	z-index:4;
}
#apDiv5 {
	position:absolute;
	left:8%;
	top:210px;
	width:85%;
	height:26px;
	z-index:5;
}
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#apDiv6 {
	position:absolute;
	left:71%;
	top:5px;
	width:223px;
	height:20px;
	z-index:6;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
#apDiv7 {
	position:absolute;
	left:71%;
	top:28px;
	width:229px;
	height:20px;
	z-index:7;
}
.Estilo2 {
	font-size: 12px;
	font-weight: bold;
}
#apDiv8 {
	position:absolute;
	left:71%;
	top:49px;
	width:152px;
	height:22px;
	z-index:8;
}
#apDiv9 {
	position:absolute;
	left:71%;
	top:72px;
	width:228px;
	height:16px;
	z-index:9;
}
#apDiv10 {
	position:absolute;
	left:71%;
	top:89px;
	width:155px;
	height:22px;
	z-index:10;
}
#apDiv11 {
	position:absolute;
	left:8%;
	top:242px;
	width:85%;
	height:313px;
	z-index:11;
	background-color: #FFFFFF;
}
#apDiv12 {
	position:absolute;
	left:8%;
	top:570px;
	width:85%;
	height:45px;
	z-index:12;
}
#apDiv13 {
	position:absolute;
	left:8%;
	top:603px;
	width:85%;
	height:292px;
	z-index:13;
	background-color: #66CCFF;
}
#apDiv14 {
	position:absolute;
	left:0%;
	top:1090px;
	width:100%;
	height:234px;
	z-index:14;
	background-image: url(../Imagenes/barra_azul.png);
}
#apDiv15 {
	position:absolute;
	left:0%;
	top:1090px;
	width:100%;
	height:44px;
	z-index:15;
	background-image: url(../Imagenes/barra_menu.png);
}
#apDiv16 {
	position:absolute;
	left:8%;
	top:1140px;
	width:134px;
	height:149px;
	z-index:16;
}
#apDiv17 {
	position:absolute;
	left:29%;
	top:1140px;
	width:556px;
	height:58px;
	z-index:17;
}
.Estilo3 {font-size: 10px}
.Estilo4 {font-size: 18px}
.Estilo5 {font-size: 18}
.Estilo6 {color: #FFFFFF}
.Estilo7 {font-size: 18; color: #FFFFFF; }
#apDiv18 {
	position:absolute;
	left:26%;
	top:1280px;
	width:685px;
	height:31px;
	z-index:18;
}
#apDiv19 {
	position:absolute;
	left:8%;
	top:607px;
	width:401px;
	height:239px;
	z-index:19;
}
#apDiv20 {
	position:absolute;
	left:38%;
	top:607px;
	width:397px;
	height:237px;
	z-index:20;
}
#apDiv21 {
	position:absolute;
	left:939px;
	top:118px;
	width:262px;
	height:33px;
	z-index:21;
}
#apDiv22 {
	position:absolute;
	left:71%;
	top:138px;
	width:288px;
	height:20px;
	z-index:21;
}
#apDiv23 {
	position:absolute;
	left:71%;
	top:162px;
	width:286px;
	height:22px;
	z-index:22;
}
#apDiv24 {
	position:absolute;
	left:84%;
	top:70px;
	width:112px;
	height:44px;
	z-index:23;
}
#apDiv25 {
	position:absolute;
	left:1093px;
	top:88px;
	width:121px;
	height:26px;
	z-index:23;
}
#apDiv26 {
	position:absolute;
	left:85%;
	top:90px;
	width:104px;
	height:29px;
	z-index:23;
}
#apDiv27 {
	position:absolute;
	left:67.9%;
	top:607px;
	width:340px;
	height:476px;
	z-index:25;
}
#apDiv28 {
	position:absolute;
	left:8%;
	top:844px;
	width:404px;
	height:231px;
	z-index:26;
}
#apDiv29 {
	position:absolute;
	left:38%;
	top:844px;
	width:384px;
	height:238px;
	z-index:24;
}
-->